@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Inter:wght@900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
} 

.novo-modal {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  justify-content: center;
  align-items: center;
}

.novo-modal-content {
  background-color: #fff; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
}

.novo-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

.novo-textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; 
}

.novo-button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.novo-button:hover {
  background-color: #45a049;
}


.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 26px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.modal .modal-content .botao-descricao {
  width: 100%;
  background-color: #60aceb;
}

.modal .modal-content .botao-descricao:hover {
  width: 100%;
  background-color: #3f85be;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

body {
  overflow-x: hidden;
}

.button-form {
  margin-top: 2rem;
  padding: 1px;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.dropdown {
    opacity: 0;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 20px;
    border-radius: 10%;
    transition: opacity 0.3s ease-in-out;
    display: none;
  }
  
  .dropdown.show {
    display: block;
    opacity: 1;
  }
  
  .dropdown button {
    background-color: #f9f9f9;
    border: none;
    padding: 7px;
    text-align: left;
    cursor: pointer;
    width: 6em;
    text-align: center;
    border-radius: 10%;
    font-family: 'Bree Serif', serif;
  }
  
  .dropdown button:hover {
    background-color: #ddd;
  }
  
  .dropdown button + button {
    margin-top: 20px;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
  }

  .modal-content-historico {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    width: max-content;
  }

  .modal-historico {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .close-button {
    font-family: 'Bree Serif', sans-serif;
    font-size: 20px;
    top: 10px;
    right: 10px;
  }
  

  .modal-title {
    text-align: center;
  }
  
  .dropzone {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
  }
  
  .button-arquivo {
    background-color: #393cff;
    color: #fff;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .button-arquivo:hover {
    background-color: rgb(68, 81, 255); 
  }

  .modal-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }